/* Variables */

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-accent: #2196f3;

  --text-color-title: #212121;
  --text-color-main: #757575;
  --text-color-white-transparent: rgba(255, 255, 255, 0.6);

  --bg-color-dark: #2f303a;
  --bg-color-inactive: #f5f4fa;
  --card-border-color: #eee;
  --header-border-color: #ececec;
  --gradient-color: rgba(47, 48, 58, 0.4);
  --customer-logo: #afb1b8;
  --footer-socials-bg: rgba(255, 255, 255, 0.1);
}

/* Utilites */

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
  fill: var(--text-color-main);
}

/* Globals */

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

body {
  background-color: var(--color-white);
  color: var(--text-color-main);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.container {
  width: 1200px;
  /* outline: 2px dotted red; */
  margin: 0 auto;
  padding: 0 15px;
}

/* Buttons */

.button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  color: var(--text-color-title);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--bg-color-inactive);
  cursor: pointer;
}

.button:hover,
.button:focus,
.hero-section .button {
  color: var(--color-white);
  background-color: var(--color-accent);
}

/* Header */
.header {
  border-bottom: 1px solid var(--header-border-color);
}

/* Logo */

.logo {
  color: var(--color-black);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
}

.logo-accent {
  color: var(--color-accent);
}

/* Site nav */
.header,
.nav-main,
.nav.pages,
.nav.contacts {
  display: flex;
  align-items: center;
}

.nav.pages {
  margin-left: 93px;
}

.nav.contacts {
  margin-left: auto;
}

.nav > .item + .item {
  margin-left: 50px;
}

.nav .link {
  display: block;
  padding: 32px 0;

  color: var(--text-color-title);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav.contacts .link {
  color: var(--text-color-main);
}

.nav .link:hover,
.nav .link:focus,
.nav .link.current {
  color: var(--color-accent);
  fill: var(--color-accent);
}

.contacts-block .link {
  display: flex;
  align-items: center;
}

.contacts-block-svg {
  margin-right: 10px;
}

/* Hero */
.hero-section {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bg-color-dark);
  background-image: linear-gradient(var(--gradient-color), var(--gradient-color)),
    url('../images/hero.jpg');
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  color: var(--color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-section .button {
  padding: 10px 32px;
  min-width: 200px;
}

/* Sections */

.section {
  padding: 94px 0;
  /* outline: 2px dotted green; */
}

.section-title {
  margin-bottom: 50px;
  color: var(--text-color-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Features */

.section.features {
  padding-bottom: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-icon {
  /* display: block; */
  padding: 25px 100px;
  margin-bottom: 30px;

  background-color: var(--bg-color-inactive);
  border-radius: 4px;
}

.feature-icon-svg {
  width: 70px;
  height: 70px;
}

.features .item:not(:last-child) {
  margin-right: 30px;
}

.feature-title {
  margin-bottom: 10px;
  color: var(--text-color-title);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
}
.feature-description {
  width: 270px;
}

/* Occupation */

.occupation .list {
  display: flex;
}

.occupation .item:not(:last-child) {
  margin-right: 30px;
}

/* Our team */

.section.team {
  background-color: var(--bg-color-inactive);
}

.team-list {
  display: flex;
}

.team .team-member-item {
  text-align: center;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .team-member-item:not(:last-child) {
  margin-right: 30px;
}

.team-meber-picture {
  margin-bottom: 30px;
}

.team-member-text {
  padding: 30px;
}

.team-member-title {
  margin-bottom: 10px;
}

.team-member-title {
  color: var(--text-color-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-member-description {
  margin-bottom: 16px;
  color: var(--text-color-main);
  font-size: 16px;
  line-height: 1.19;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
}
.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  width: 44px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--color-accent);
}

.team-member-socials-svg {
  width: 20px;
  height: 20px;

  fill: var(--text-color-main);
}

.socials-link:hover .team-member-socials-svg,
.socials-link:focus .team-member-socials-svg {
  fill: var(--color-white);
}

/* Customers */

.customers-list {
  display: flex;
  flex-wrap: wrap;
}

.customers-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  fill: var(--customer-logo);
  border: 1px solid var(--customer-logo);
  border-radius: 4px;
}

.customers-item:not(:last-child) {
  margin-right: 30px;
}

.customers-item:hover,
.customers-item:focus {
  border-color: var(--color-accent);
  cursor: pointer;
}

.customers-item:hover .customers-logo-svg,
.customers-item:focus .customers-logo-svg {
  fill: var(--color-accent);
}

.customers-logo-svg {
  width: 106px;
  height: 60px;
}

/*Footer*/
.footer {
  background-color: var(--bg-color-dark);
  padding: 60px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.socials-list-footer {
  display: flex;
}

.footer-social-wrap {
  margin-left: 70px;
}

.socials-item-footer:not(:last-child) {
  margin-right: 10px;
}

.footer-join {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-white);
  line-height: 1.14;
}

.socials-link-footer {
  width: 44px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--footer-socials-bg);
  border-radius: 50%;
}
.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: var(--color-accent);
}

.footer-socials-svg {
  width: 20px;
  height: 20px;
  fill: var(--color-white);
}

.footer .list {
  margin-top: 20px;
}

.footer-adress-wrap .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .link {
  color: var(--text-color-white-transparent);
  font-style: normal;
}

.footer .logo {
  color: var(--color-white);
}

.footer .link.map {
  color: var(--color-white);
}

.footer .list .link:hover,
.footer .list .link:focus {
  color: var(--color-accent);
}

/* Portfolio */
/* Filter */
.portfolio .filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter .button:hover,
.filter .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Cards */
.portfolio .cards {
  display: flex;
  flex-wrap: wrap;
}

.cards .item {
  width: calc((100% - 2 * 30px) / 3);
}

.potfolio-link:hover,
.potfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards .item:not(:nth-of-type(3n)) {
  margin-right: 30px;
}
.cards .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.cards-text {
  padding: 20px 24px;

  border-right: 1px solid var(--card-border-color);
  border-bottom: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
}
.portfolio-title {
  margin-bottom: 4px;
  color: var(--text-color-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-type {
  color: var(--text-color-main);
  font-size: 16px;
  line-height: 1.87;
}

.portfolio .link {
  display: block;
}
